LICENSE
.devcontainer
.github
.git
.gitignore
.gitattributes
*.md
*.png
*.jpg
*.json
*.secret
*.env
*.sh
*.toml
*.yml
*.yaml
*.sample
*.log
Dockerfile
Dockerfile.*
.idea/
.devcontainer/
tmp/
certs/
node_modules/
images/
package.json
package-lock.json
entra-phishing-detection
Caddyfile
.env
helm
